{% extends 'base.html' %}
{% block title %}Dados do evento{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12">
      <!-- Card Evento -->
      <div class="card shadow-sm mb-4">
        <div class="card-header bg-secondary text-white">
          <h3 class="mb-0">Evento</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="" class="row g-3"> <!-- arrumar o actions -->
            {{ form.hidden_tag() }}
            <div class="col-md-4">
              {{ form.titulo.label(class="form-label") }}
              {{ form.titulo(class="form-control", value=dados[0]['titulo']) }} <!-- arrumar o valor  -->
            </div>
            <div class="col-md-4">
              {{ form.descricao.label(class="form-label") }}
              {{ form.descricao(class="form-control", value=dados[0]['descricao']) }}
            </div>
              <div class="col-md-4">
              {{ form.nome_cliente.label(class="form-label") }}
              {{ form.nome_cliente(class="form-control", value=dados_cliente['nome'],readonly=True)}}
            </div>
                <div class="col-md-4">
                  {{ form.status.label(class="form-label") }}
                  {{ form.status(class="form-control") }}
                </div>
            <div class="col-md-5">
                  {{ form.data_entrega.label(class="form-label") }}
                  {{ form.data_entrega(class="form-control") }}
            </div>
                <div class="col-3 d-flex justify-content-end mt-5">
                    <div class="botoes d-flex">
                        {{ form.submit(class="btnverde") }}
        </form>
                        <form method="POST" action="{{ url_for('cliente.deleta_evento', id_evento=dados[0]['id']) }}">
                            {{ form.csrf_token }}
                            <button type="submit" class="btnvermelho">Deletar evento</button>
                        </form>
                    </div>
                </div>
        </div>
      </div>
{% endblock %}